@charset"UTF-8";
body{
  background-color:#e6f0f0;
}
.button-pare{
position:relative;
}
.prev{
position:absolute;
}
.next{
position:absolute;
right:0;
}
.weekchange{
  background-color:#97cdf3;
  color:#ffffff;
  font-size:20px;
  font-family:sans-serif;
  transition:.3s;
  border:none;
  margin-top: 10px;
  width:120px;
}
.weekchange:hover{
  color:#97cdf3;
  background-color:#ffffff;
}
.backtohome{
  font-size:25px;
  color:#ffffff;
  font-family:sans-serif;
  float:right;
  background-color:#97cdf3;
  text-decoration:none;
  transition:.3s;
}
.backtohome:hover{
  color:#97cdf3;
  background-color:#ffffff;
}
.whatmonth{
  font-size:20px;
  color:black;
  text-align:center;
}
.backdesign{
  color:white;
  font-size:20px;
  font-family:sans-serif;
  display:inline-block;
  padding:1rem 3rem 1rem 3rem;
}
.Adepbackcolor{
  background:#B7D100;
}
.Cdepbackcolor{
  background:#7FCBE3;
}
.Edepbackcolor{
  background:#FFc426;
}
.Mdepbackcolor{
  background:#F13E20;
}
.timetable-design{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:0.4fr 1fr 1fr 1fr 1fr;
  height:450px;
  background-color:white;
  border-width:1px;
  border-style:solid;
}
.timetable-item{
  display:flex;
  display:flex;
  display:inline-block;
  align-items:flex-start;
  justify-content:center;
  text-align:center;
  flex:1;
  font-family:sans-serif;
  color:#121212;
}
.font-big{
  font-size:20px;
}
.font-small{
  font-size:15px
}

.tooltip { /* 補足説明するテキストのスタイル */
  position: relative;
  cursor: pointer;
  padding: 0 5px;
  font-size: 0.9em;
  color: #4682b4;
}
 
.description_top { /* ツールチップのスタイル */
  width: 200px; /* 横幅 */
  position: absolute;
  left: 50%;
  height: 90px;
  top: 90%; /* Y軸の位置 */
  transform: translateX(-50%);
  margin-top: 10px; /* テキストとの距離 */
  padding: 8px;
  border-radius: 10px; /* 角の丸み */
  background-color: #e9f7e5;
  font-size: 1rem;
  color: #121111;
  text-align: center;
  visibility: hidden; /* ツールチップを非表示に */
  opacity: 0; /* 不透明度を0％に */
  z-index: 1;
  transition: 0.2s all; /* マウスオーバー時のアニメーション速度 */
}
 
.tooltip:hover .description_top { /* マウスオーバー時のスタイル */
  bottom: 100%; /* Y軸の位置 */
  visibility: visible; /* ツールチップを表示 */
  opacity: 95%; /* 不透明度を100％に */
} 