@charset"UTF-8";
body{
  background-color:#e6f0f0;
}
.backdesign{
  color:white;
  font-size:20px;
  font-family:sans-serif;
  display:inline-block;
  padding:1rem 3rem 1rem 3rem;
}
.Adepbackcolor{
  background:#B7D100;
}
.timetable-design{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
}
.timetable-item{
  display:flex;
  display:flex;
  display:inline-box;
  align-items:flex-start;
  justify-content:center;
  flex:1;
  font-size:20px;
  font-family:sans-serif;
  color:#ffffff;
}
