@charset "UTF-8";
body{
  background-color:#FFEDB3;
}
.choise-btn{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap:10px;
  
}
.item{
  display:flex;
  display:inline-box;
  align-items:flex-start;
  justify-content:center;
  flex:1;
  padding:.5rem;
  margin:.3rem,2rem;
  font-size:20px;
  font-family:sans-serif;
  color:#fff;
  text-decoration:none;
  background:blue;
  transition:.3s;
}
.item:hover{
  background:#fff;
  color:blue;
  
  
