@charset "UTF-8";
body{
  background-color:#FFEDB3;
}
h1{
  background-color:#FEDCBD;
  color:black;
  font-size:40px;
  font-family:sans-serif;
}
.choise-btn{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap:10px;
  align-content:space-between;
  
}
.item{
  display:flex;
  display:inline-box;
  align-items:flex-start;
  justify-content:center;
  flex:1;
  padding:.5rem;
  margin:.3rem,2rem;
  font-size:20px;
  font-family:sans-serif;
  color:#fff;
  text-decoration:none;
  background:blue;
  transition:.3s;
}
.item:hover{
  background:#fff;
  color:blue;
  scale:1.2;
}
